@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.login_header {
	margin-bottom: 25px;
}

.login_header_title {
	text-align: center;
}

.login_header_text {
	text-align: center;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_form_input {
	width:280px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 16px;
	padding: 8px 12px;
}

.login input[type="submit"] {
	margin-bottom: -10px;
}

.btn {
	display: block;
	width: 280px;
	height: 35px;
	border: none;
	font-weight: 500;
}

.btn:hover {
	background-color: tomato;
}

.btn:first-child:hover {
	background-color: wheat;
}

a {
	margin: 20px 0px;
	text-decoration: none;
}