<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).on("click", ".add", function() {
		$(this).parent().clone(true).insertAfter($(this).parent());
	});
	$(document).on("click", ".del", function() {
		var target = $(this).parent();
		if (target.parent().children().length > 1) {
			target.remove();
		}
	});
</script>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MINEMINE</title>
</head>
<body>
	<h1>MINEMINE</h1>
	<br>
	<h3>Welcome to MINEMINE</h3>
	<h3>Please enter the information</h3>
	<h3>試験・資格対策ソフト</h3>
	<h4>一日の勉強量を把握しよう！</h4>
	<br>


	<form action="/work">
	<input type="hidden" name="date" th:value="${period}">
	<span th:text="${test}"></span>
	<br>
	希望日：<span th:text="${xday}"></span>
	<br>
	残り：<span th:text="${period}"></span>日
	<br>

		<div>
			テキスト名：<input type="text" name="bookName"><br>
			ページ数：<input type="text" name="pages">ページ<br>
			周回数：<input type="text" name="laps">回<br>
			---------------------------------------------------
			<input type="button" value="＋">
			<input type="button" value="－">
		</div>

		<br>
		<input type="submit" value="算出">
	</form>


</body>
</html>