<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="/images/bird.png">
<title>Welcome to MINEMINE</title>
</head>
<body>
	<h1>MINEMINE</h1>
	<br>
	<h3>Welcome to MINEMINE</h3>
	<h3>If you have MINEMINE Account,</h3>
	<h3>login with your email</h3>

	<span th:text="${message}" style="color:red"></span>

	<form action="/login" method="post">
		<input type="email" name="email" placeholder="Email"> <br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="submit" value="LOGIN"><br>
	</form>

	<form action="/signup" method="post">
		<input type="submit" value="SIGN UP">
	</form>

	<a href="/forgot">forgot password?</a>

</body>
</html>
