<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/images/frog.png">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link href="/css/calendar.css" rel="stylesheet">
<link type="text/css"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<title>これ、つカエル。</title>
<script th:inline="javascript">
 $(function(){
	var pos = /*[[${pos}]]*/;
    if(pos == "calendar"){
         location.hash = "cal";
    }
 });
</script>
</head>
<body>
	<header class="main_header">
		<a id="header_pointer" name="header"></a>
		<h1 class="main_header_title" >
			WELCOME <span th:text="${session.name}"></span>
		</h1>
	</header>

<div class="container">
	<video width="100%" height="auto" autoplay loop muted>
	<source src="/background/rain.mp4" type="video/mp4">
		Sorry, your browser does not support HTML5 video.
	</video>
</div>

<main class="main">

<div class="left_menu">

	<div id="menu">
      	<div class="hamburger">
       	 	<div class="line"></div>
        	<div class="line"></div>
        	<div class="line"></div>
     	 </div>
     	 <div class="menu-inner">



       		 <ul>
         		 <li><img id="bird_cage" src="/images/cage.png" width="50%" height="50%"></li>
         		 <li><a href="#header_pointer">TOP</a></li>
         		 <li><a href="#calendar_pointer">CALENDAR</a></li>
          		 <li><a href="/reviewSchedule">SCHEDULE</a></li>
          		 <li><a href="/logout_alert">LOG-OUT</a></li>
          		 <li>
          		 <figcaption>Listen to the Rain Drops</figcaption>
  					<audio id="music_player" controls loop>
  						<source src="/music/rain.mp3" type="audio/mp3">
           			 Your browser does not support the
           				 <code>audio</code> element.
	    			</audio>
	    		</li>
          		 <li><div class="icons">
		<a href="https://google.co.jp" target="_blank"><img src="/images/google.png" width="50px" height="50px"></a>
		<a id="icon_mail" href="https://mailtap.securemx.jp/" target="_blank"><img src="/images/mail.png" width="50px" height="50px"></a>
		<a href="https://github.com" target="_blank"><img src="/images/github.png" width="50px" height="50px"></a>
	</div></li>
       		 </ul>
   	 	 </div>

     		 <svg version="1.1" id="blob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      		 	<path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z" />
     		 </svg>
 	  </div>

	<a id="bird" href="#header_pointer"><img src="/images/frog.png"
		width="50px" height="50px"></a>

	<!-- TIMER_TODOここから-->
		<div class="timer_todo_total">
			<h2 class="timer_todo_total_today" th:text="${session.today}"></h2>
			<h1 class="timer_todo_total_time" th:each="time : ${user_study_time_info}">
				<span th:text="${time.time}"></span>
			</h1>
		</div>

		<div class="d_day">
			<form class="d_day_input" action="/compute">
				<input class="d_day_input_text" type="text" name="test" placeholder="Anniversary"><br>
				<input class="d_day_input_date" type="date" name="xday"><br>
				<input class="d_day_input_btn" type="submit" value="SAVE">
			</form>

			<div th:if="${session.test} != null" class="d_day_viewer">
				<h2 class="d_day_viewer_title" th:text="${session.test}"></h2>
				<h1 class="d_day_viewer_day" th:text="${session.period}"></h1>
			</div>
		</div>
</div>

<!-- logout process -->
	<div th:if="${session.time_gap != null}" class="logout-alert">

		<div th:if="${session.time_gap} > 0" class="logout-text-box">
			<div class="logout-text">You studied</div>
			<div class="logout-text-time-box">
				<span class="logout-text-time" th:text="${session.ghour}"></span>:
				<span class="logout-text-time" th:text="${session.gminute}"></span>:
				<span class="logout-text-time" th:text="${session.gsecond}"></span>
			</div>
			<div class="logout-text" th:text="${session.logout_msg}"></div>
			<div class="logout-text" th:text="${session.logout_msg2}"></div>
		</div>

		<div th:if="${session.time_gap} < 0" class="logout-text-box">
			<div class="logout-text">You studied</div>
			<span class="logout-text-time" th:text="${session.bhour}"></span>:
			<span class="logout-text-time" th:text="${session.bminute}"></span>:
			<span class="logout-text-time" th:text="${session.bsecond}"></span>
			<div class="logout-text" th:text="${session.logout_msg}"></div>
			<div class="logout-text" th:text="${session.logout_msg2}"></div>
		</div>

		<a class="logout-a" href="/logout">See you next time</a>
	</div>

<main class="timer_todo">

		<div class="timer_todo_timer">
			<h2 class="timer_todo_timer_title">Studying...</h2>

			<h1 class="timer_todo_timer_time_box">
				<span class="timer_todo_timer_time" id="hours">00</span>:
				<span class="timer_todo_timer_time" id="minutes">00</span>:
				<span class="timer_todo_timer_time" id="seconds">00</span>
			</h1>
			<div class="timer_todo_timer_btns">
				<button id="btn_stop">STOP</button>
				<button id="btn_reset">RESET</button>
			</div>
		</div>

	<!-- TIMER_TODO_追加 -->
		<div class="timer_todo_add">

				<form class="timer_todo_add_format" action="/add_todo" method="post">
					<input class="timer_todo_add_text" type="text" name="todo" placeholder="Save TODO">
					<input class="timer_todo_add_btn" type="submit" value="ADD">
				</form>

	<!-- TIMER_TODO_リスト -->
			<div class="timer_todo_list">

				<div class="timer_todo_list_form">
					<div class="timer_todo_list_form_title_box">
						<div class="timer_todo_list_form_title" >MISSION</div>
						<div class="timer_todo_list_form_title" >TIME</div>
					</div>

					<div class="timer_todo_list_form_body" th:each="todo : ${todo_list}">

						<div class="timer_todo_list_form_body1">
							<div class="timer_todo_list_form_start"><button class="btn_start" th:value="${todo.code}">▶</button></div>

							<div class="timer_todo_list_form_mission" th:text="${todo.todo}"></div>
						</div>

						<div class="timer_todo_list_form_body2">
							<div class="timer_todo_list_form_time1"><span th:text="${todo.time}"></span></div>

							<div class="timer_todo_list_form_delete">
								<form class="btn_delete" action="/delete_todo">
									<input type="hidden" name="todo_code" th:value="${todo.code}">
									<input class="btn_delete" type="submit" value="X">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<!-- SCHEDULE_TODO_ここから -->
	<div class="schedule_todo">
		<!-- SCHEDULE_TODO_追加 -->
		<div class="schedule_todo_add">
			<form class="schedule_todo_add_format" action="/add_schedule" method="post">
				<input class="schedule_todo_add_text" type="text" name="plan" placeholder="Save Schedule">
				<input class="schedule_todo_add_btn" type="submit" value="ADD">
			</form>
		</div>

		<!-- SCHEDULE_TODO_リスト -->
		<div class="schedule_todo_list_form">

			<div class="schedule_todo_list_form">

				<div class="schedule_todo_list_form_title_box">
					<div class="schedule_todo_list_form_title">Schedule Check List</div>
				</div>

				<div class="schedule_todo_list_form_body" th:each="schedule : ${schedule_today}">

					<form action="/schedule_checked">
						<input class="schedule_todo_list_form_plan check_todo" type="checkbox" id="th:text='${schedule.plan}'" name="todo_checkbox">
						<label for="th:text='${schedule.plan}'" th:text='${schedule.plan}'></label>
						<input type="hidden" name="code" th:value="${schedule.code}">
					</form>

					<div class="schedule_todo_list_form_delete">
						<form action="/deleteScheduleToday">
							<input type="hidden" name="code" th:value="${schedule.code}">
							<input class="schedule_btn_delete" type="submit" value="X">
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>
<script>
const checkbox = document.querySelectorAll(".check_todo");
const form = checkbox.parentElement;

for (var i = 0; i < checkbox.length; i++){
	checkbox[i].addEventListener("click", send_check());
}

function send_check() {
  form.submit();
}
</script>
<footer class="calendar_box">
		<div id="cal"></div>
			<!-- カレンダー -->
			<div class="wrapper">
				<a href="" name="calendar_pointer">
					<div id="next-prev-button">
				</a>
				<button id="prev" onclick="prev()">‹</button>
				<h1 id="header"></h1>
				<button id="next" onclick="next()">›</button>
			</div>



			<div id="calendar"></div>
			</div>

			<br>
			<!-- スケジュールを追加 -->
			<form class="calendar_todo_add" action="/addSchedule">
				<input class="calendar_todo_add_date" type="date" name="date"
					required> <input class="calendar_todo_add_text" type="text"
					name="plan" required><br> <input
					class="calendar_todo_add_btn" type="submit" value="ADD">
			</form>

			<span th:if="${message != null}" class="schedule_message1" th:text="${message}" style="color: red"></span>
			<span th:if="${message1 != null}" class="schedule_message2" th:text="${message1}" style="color: red"></span> <br>

			<div class="schedule_list" th:if="${check == true}">
				<div class="schedule_list_title_box">
					<div class="schedule_list_title">PLAN</div>
					<div class="schedule_list_title">DATE</div>
					<div class="schedule_list_title">DELETE</div>
				</div>
				<div class="schedule_list_form_body" th:each="add:${schedule_ymd}">
					<div class="schedule_list_form_body1">
						<div th:text="${add.plan}"></div>
					</div>
					<div class="schedule_list_form_body2">
						<div th:text="${add.date}"></div>
					</div>
					<div class="schedule_list_form_body3">
						<form action="/schedule/delete/calendar">
							<input type="hidden" name="code" th:value="${add.code}">
							<input type="hidden" name="date" th:value="${add.date}">
							<input type="hidden" name="plan" th:value="${add.plan}">
							<input type="submit" value="DELETE">
						</form>
					</div>
				</div>
			</div>
			<br>

		<span th:if="${message2 != null}" class="schedule_message3" th:text="${message2}" style="color: red"></span>

			<div class="schedule_list" th:if="${check2 == true}">
				<div class="schedule_list_title_box">
					<div class="schedule_list_title">DATE</div>
					<div class="schedule_list_title">TIME</div>
				</div>
				<div class="schedule_list_form_body" th:each="add:${study_schedule}">
					<div th:text="${add.date}"></div>
					<div th:text="${add.time}"></div>
				</div>
			</div>

</footer>
</main>

	<script src="/timer.js"></script>
	<script src="/menu.js"></script>
	<script th:inline="javascript">
	const week = ["日", "月", "火", "水", "木", "金", "土"];
	const today = new Date();

	/*<![CDATA[*/
	const currentDay = new Date(/*[[${yyyy}]]*/,/*[[${MM - 1}]]*/,/*[[${dd}]]*/);

	//console.log (schedule_list); // 大事 ブラウザで開発者ツールのコンソールに出力される
	/*]]>*/

	// 月末だとずれる可能性があるため、1日固定で取得
	var showDate = new Date(today.getFullYear(), today.getMonth(), 1);

	// 初期表示
	window.onload = function() {
		showProcess(currentDay, calendar);
	};

	// 前の月表示
	function prev() {
		showDate.setMonth(showDate.getMonth() - 1);
		showProcess(showDate);
	}

	// 次の月表示
	function next() {
		showDate.setMonth(showDate.getMonth() + 1);
		showProcess(showDate);
	}

	// カレンダー表示
	function showProcess(date) {

		var year = date.getFullYear();
		var month = date.getMonth();
		document.querySelector('#header').innerHTML = year + "/ " + (month + 1)
			+ "";

		var calendar = createProcess(year, month);
		document.querySelector('#calendar').innerHTML = calendar;


	}

	// カレンダー作成
	function createProcess(year, month) {

		//uidで検索したスケジュールの一覧（thymeleaf)
		const schedule_list = /*[[${list}]]*/;
		const study_list = /*[[${list_study}]]*/;

		// 曜日
		var calendar = "<table><tr>";
		for (var i = 0; i < week.length; i++) {
			calendar += "<th>" + week[i] + "</th>";
		}
		calendar += "</tr>";

		var count = 0;
		var startDayOfWeek = new Date(year, month, 1).getDay();
		var endDate = new Date(year, month + 1, 0).getDate();
		var lastMonthEndDate = new Date(year, month, 0).getDate();
		var row = Math.ceil((startDayOfWeek + endDate) / week.length);

		// 1行ずつ設定

		for (var i = 0; i < row; i++) {

			calendar += "<tr>";
			// 1colum単位で設定
			for (var j = 0; j < week.length; j++) {

				var y = "";
				var m = "";
				var d = "";

				if (i == 0 && j < startDayOfWeek) {
					y = "" + year;
					m = "" + month;
					d = "" + (lastMonthEndDate - startDayOfWeek + j + 1);

					m = m.length == 1 ? "0" + m : m;
					d = d.length == 1 ? "0" + d : d;

					// 1行目で1日まで先月の日付を設定
					calendar += "<td>" + "<a class='prev' href='/dateSchedule?ymd="
						+ (y + "-" + m + "-" + d) + "'>"
						+ (lastMonthEndDate - startDayOfWeek + j + 1)
						+ "</a></td>";
				} else if (count >= endDate) {
					// 最終行で最終日以降、翌月の日付を設定
					count++;

					y = "" + year;
					m = "" + (month + 2);
					d = "" + (count - endDate);

					m = m.length == 1 ? "0" + m : m;
					d = d.length == 1 ? "0" + d : d;

					calendar += "<td>" + "<a class='next' href='/dateSchedule?ymd="
						+ (y + "-" + m + "-" + d) + "'>"
						+ (count - endDate) + "</a></td>";
				} else {
					// 当月の日付を曜日に照らし合わせて設定
					count++;

					y = "" + year;
					m = "" + (month + 1);
					d = "" + count;

					m = m.length == 1 ? "0" + m : m;
					d = d.length == 1 ? "0" + d : d;

					var compa = y + "-" + m + "-" + d;
			        var s = "";
			     	for(var t = 0; t<schedule_list.length; t++){
					  if(schedule_list[t].date == compa){
						s = "<div class='schedule_dot'>●</div>";

					  }
			     	}

			        var z = "";
			     	for(var w = 0; w<study_list.length; w++){
					  if(study_list[w].date == compa){
						z = 'study_dot';

					  }
			     	}

					if (year == today.getFullYear()
						&& month == (today.getMonth())
						&& count == today.getDate()) {

						calendar += "<td class='today " + z +"'>" + "<a class='day' href='/dateSchedule?ymd="
								+ (y + "-" + m + "-" + d) + "' >" + count
								+ "</a>"+ s + "</td>";
					} else {
						calendar += "<td class='other_days " + z +"'>" +"<a class='day' href='/dateSchedule?ymd="
							+ (y + "-" + m + "-" + d) + "'>" + count
							+ "</a>"+ s  + "</td>";
					}
				}
			}
			calendar += "</tr>";
		}
		return calendar;
	}
	</script>
</body>
</html>