<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/images/bird.png">
<link th:href="@{css/main.css}" rel="stylesheet">
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<title>MINEMINE</title>

</head>
<body>
	<header>
		<h1>
			WELCOME <span th:text="${session.name}"></span>
		</h1>
	</header>

<main>
	<div>
		<form action="/compute">
			<input type="text" name="test" placeholder="試験・資格名"><br>
			<input type="date" name="xday"> <input type="submit"
				value="決定">
		</form>
	</div>

	<br>
	<a href="/calendar">カレンダー</a>
	<br>
	<br>

	<div class="todo">
		<div class="todo_header">
			<!-- TIMERの中の日付 -->
			<h2 th:text="${session.today}"></h2>

			<!-- TIMER HOUR:MINUTES:SECONDS -->
			<h1>
				<span id="hours_total">00</span>:
				<span id="minutes_total">00</span>:
				<span id="seconds_total">00</span>
			</h1>
		</div>

		<!-- STARTが押されたら -->
		<div class="todo_timer">
			<h2>勉強した時間</h2>

			<!-- TIMER HOUR:MINUTES:SECONDS -->
			<h1>
				<span id="hours">00</span>:
				<span id="minutes">00</span>:
				<span id="seconds">00</span>
			</h1>

			<!-- TIMER BUTTONS <button id="btn_start">START</button>-->
			<!--<form action="time_stop">
			<input type="hidden" name="time_study" value="">-->
			<button id="btn_stop">STOP</button>
			<!--</form>-->

			<button id="btn_reset">RESET</button>

		</div>

		<!-- TODO with TIMER -->
		<div class="todo_container_time">
			<!-- タイマーつきのTODOに追加 -->
			<div>
				<form action="/add_todo" method="post">
					<input type="text" name="todo" placeholder="Make TODOLIST">
					<input type="submit" value="ADD">
				</form>
			</div>

			<!-- タイマーつきのTODOのLIST -->
			<div>
				<table border="1">
					<tr class="todo_timer_list_head">

						<th colspan="2">..TODO..</th>
						<th colspan="2">TIME</th>

					</tr>
					<tr class="todo_timer_list_body" th:each="todo : ${todo_list}">

						<td><button class="btn_start" th:value="${todo.code}">START</button></td>

						<td th:text="${todo.todo}"></td>

						<td ><span class="time_todo" th:text="${todo.time}"></span></td>

						<td><input type="submit" value="X"></td>
					</tr>
				</table>
			</div>
		</div>

		<!-- TODO withOUT TIMER -->
		<div class="todo_container_schedule">
			<!-- タイマー無しのTODOに追加 -->
			<div>
				<form action="/add_schedule" method="post">
					<input type="text" name="plan" placeholder="スケジュールを追加">
					<input type="submit" value="ADD">
				</form>
			</div>

			<!-- タイマー無しのTODOのLIST -->
			<div>
				<table border="1">

					<tr class="todo_schedule_list_head">
						<th colspan="1">今日やるべきこと</th>
						<th colspan="1">削除</th>
					</tr>

					<tr class="todo_schedule_list_body" th:each="schedule : ${schedule_today}">

						<td th:text="${schedule.plan}"></td>

						<td><input type="submit" value="X"></td>
					</tr>

				</table>
			</div>
		</div>

	</div>
</main>
	<!-- TIMER JavaScript -->
	<script src="/timer.js"></script>
</body>
</html>