<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Review Schedule</title>
<link rel="shortcut icon" href="/images/frog.png">
<link href="/css/reviewSchedule.css" rel="stylesheet">
</head>
<body>
	<header class="reviewSchedule_header">
		<h1 class="reviewSchedule_header_title">Review Schedule</h1>
	</header>
	<div class="container">
		<video width="100%" height="auto" autoplay loop muted>
			<source src="/background/rain.mp4" type="video/mp4">
			Sorry, your browser does not support HTML5 video.
		</video>
	</div>
	<main class="reviewSchedule">
		<div class="left">
			<a id="bird" href="/show_todo"><img src="/images/frog.png"
				width="50px" height="50px"></a>
		</div>
		<form action="/searchSchedule" method="get">
			<div class="searchReviewSchedule">
					FROM: <input class="sorting_Date" type="date" name="lowDate" th:value="${lowDate}" style="font-size: 3px;" required>
					UNTIL: <input class="sorting_Date" type="date" name="highDate" th:value="${highDate}" style="font-size: 3px;" required>
					<input class="reviewSchedule_btn" type="submit" value="検索">
			</div>
		</form>
		<br>
		<div class="sortingSchedule">
			<form action="/sortingSchedule">
					<input type="hidden" name="date"> <input type="hidden"
						name="sort" value="asc"> <input class="reviewSchedule__btn1" type="submit" value="昇順">
			</form>

			<form action="/sortingSchedule">
					<input type="hidden" name="date"> <input type="hidden"
						name="sort" value="desc"> <input class="reviewSchedule__btn2" type="submit" value="降順">
			</form>
		</div>

		<span th:if="${message3 != null}" class="review_message" th:text="${message3}" style="color: red"></span>
		<div class="reviewSchedule_list" th:if="${check == false}">
			<div class="reviewSchedule_list_title_box">
				<div class="reviewSchedule_list_title">date</div>
				<div class="reviewSchedule_list_title">plan</div>
				<div class="reviewSchedule_list_title">DELETE</div>
			</div>
			<div class="reviewSchedule_list_form_body"
				th:each="add:${schedule_list}">
				<div class="reviewSchedule_list_form_body1">
					<div th:text="${add.date}"></div>
				</div>
				<div class="reviewSchedule_list_form_body2">
					<div th:text="${add.plan}"></div>
				</div>
				<div class="reviewSchedule_list_form_body3">
					<form action="/schedule/delete/reviewSchedule">
						<input type="hidden" name="code" th:value="${add.code}"> <input
							 class="reviewSchedule__btn" type="submit" value="削除">
					</form>
				</div>
			</div>
		</div>

		<br>
	</main>
</body>
</html>