<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="/searchSchedule" method="get">
	<div>
		期間：<input type="date" name="lowDate" th:value="${lowDate}" style="font-size: 3px;" required>～ <input
			type="date" name="highDate" th:value="${highDate}" style="font-size: 3px;" required> <input
			type="submit" value="検索">
	</div>
    </form>
    <br>

    <form action="/sortingSchedule">
    <div>
    <input type="hidden" name="date">
    <input type="hidden" name="sort" value="asc">
    <input type="submit" value="昇順">
    </div>
    </form>

    <form action="/sortingSchedule">
    <div>
    <input type="hidden" name="date">
    <input type="hidden" name="sort" value="desc">
    <input type="submit" value="降順">
    </div>
    </form>


    <span th:text="${message3}" style="color: red"></span>
	<div>
		<table border="1" th:if="${check == false}">
			<tr>
				<th>plan</th>
				<th>date</th>
				<th>DELETE</th>
			</tr>
			<tr th:each="add:${schedule_list}">
				<td th:text="${add.plan}"></td>
				<td th:text="${add.date}"></td>
				<td>
					<form action="/schedule/delete/reviewSchedule">
						<input type="hidden" name="code" th:value="${add.code}">
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<br>
	<a href="main.html">戻る</a>
</body>
</html>