<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/images/frog.png">
<link th:href="@{css/signup.css}" rel="stylesheet">
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<title>Welcome to tuKAERU</title>
</head>
<body>

<header class="signup_header">
	<h1 class="signup_header_title">これ。つカエル。</h1>
	<br>
	<p class="signup_header_text">Welcome to tuKAERU</p>
	<p class="signup_header_text">Create your tuKAERU Account</p>
</header>

<main class="signup_form">
	<span th:text="${message}" style="color:red"></span>

	<form class="signup_form_body" action="/signup_new" method="post">
	<div class="signup_form_firstline">
		<!-- <label for="name">Name (3 to 8 characters):</label> -->
		<input class="signup_form_input" id="name" type="text" name="name" required  minlength="3" maxlength="8" placeholder="Name (3 to 8 characters)">
		<br>

		<!-- <label for="age">Age:</label> -->
		<input class="signup_form_input" id="birthday" type="date"  name="birthday" required>
		<br>
	</div>
		<!-- <label for="email">Eamil:</label> -->
		<input class="signup_form_input" id="email" type="email" name="email" required placeholder="Your Email">
		<br>

		<!-- <label for="password">Password (minimum 6 characters):</label> -->
        <input class="signup_form_input" name="password" id="password" type="password" placeholder="Type Your Password here"/>
        <span id="result"></span>
		<br>


	<div class="signup_form_lastline">
		<label for="answer">Identification Question</label>
		<input class="signup_form_input" id="answer" type="text" name="answer" required placeholder="What is your favorite food?">
		<br>
	</div>
		<input class="btn" type="submit" value="Sign Up">
	</form>
</main>


<script src="/passwordsCheck.js"></script>
</body>
</html>