<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<!-- TIMERの中の日付 -->
		<h2 th:text="${session.today}"></h2>

		<!-- TIMER HOUR:MINUTES:SECONDS -->
		<h1>
		<span id="hours">00</span>:
		<span id="minutes">00</span>:
		<span id="seconds">00</span>
		</h1>

		<!-- TIMER BUTTONS -->
		<button id="btn_start">START</button>
		<button id="btn_stop">STOP</button>
		<button id="btn_reset">RESET</button>
	</div>

	<script src="timer.js"></script>

	<div class="header__time-container">
			<span class="header__time">00:00</span>
		</div>

		<script>

		const timeContainer = document.querySelector(".header__time");

		function getTime() {
			const date = new Date();
			const hour = date.getHours();
			const minutes = date.getMinutes();
			const seconds = date.getSeconds();
			timeContainer.innerText = `${hour < 10 ? "0" + hour : hour}:${minutes < 10 ? "0" + minutes : minutes}:${seconds < 10 ? "0" + seconds : seconds}`;
		}

		setInterval(getTime, 1000);
		</script>

</body>
</html>